# Welcome to jupyter notebooks!
### Congratulations, the hardest step is always the first one. This exercise is designed to help you get personal with the format of jupyter notebooks, as well as learn how data is accessed and manipulated in python.

In [1]:
name = "Liz" #type your name before the pound sign, make sure you put it in quotes!
age = "135" #type your age before the pound sign, make sure you put it in quotes! More on this later.
address = "462C Link Hall" #type your address before the pound sign, make sure you put it in quotes!
story = "My name is " + name + ". I am " + age + " years old. I am a data scientist! Find me at " + address + "."
print(story)

## Variable types:
Variables are names in your python environment where you store values. A variable can be a number, a character string, or a more complex data structure (such as a pandas spatial dataframe...more later). 

At the most basic level, variables representing single values can either be numbers or strings. 

Numeric values can be stored as intergers, floating point numbers, or complex numbers. 

Strings represent strings of characters, like writing. 

We find out what type of variable we're dealing with by using the type() function.

More info here: https://mindmajix.com/python-variable-types

In [ ]:
from IPython.display import Image
Image("https://cdn.mindmajix.com/blog/images/Screenshot_12-460x385.png")

In [ ]:
print(type(name))
print(type(age))
print(type(address))
print(type(story))

In [ ]:
#We can convert numeric strings to numeric formats using either float() or int()
age = float(age)
print(age)
print(type(age))

In [ ]:
age=int(age)
print(age)
print(type(age))

In [ ]:
#But we cannot input a numeric value into a string:
story = "My name is " + name + ". I am " + age + " years old. Find me at " + address + "."
print(story)

## TASK 1: 
Edit the code in the above cell so that it will print your story without adding any additional lines of code.

In [2]:
#Type story here

## Mathematical operators in python:
We're learning Python because it is a really powerful calculator. Below is a summary of common mathematical operators in Python.

In [ ]:
Image("https://i0.wp.com/makemeanalyst.com/wp-content/uploads/2017/06/Python-Operators.png")

In [ ]:
Image("https://i0.wp.com/makemeanalyst.com/wp-content/uploads/2017/06/Relational-Operators-in-Python.png")

In [ ]:
Image("https://i0.wp.com/makemeanalyst.com/wp-content/uploads/2017/06/Bitwise-Operators_python.png")

In [ ]:
Image("https://i1.wp.com/makemeanalyst.com/wp-content/uploads/2017/06/Assignment-Operator.png")

We can apply mathematical operators to variables by writing equations, just like we do with a calculator. 

## TASK 2:
Using your "age" variable. how old will you be in five years (call this variable "a")? How many months have you been alive (we're going to estimate this, based on the fact that there are 12 months in a year, call this variable "b")? Are you older than 100 (call this variable "c")?

In [ ]:
#first, convert "age" back to a numeric (float) variable
age = 

#Complete your equations in python syntax below. Remember to use "age" as a variable.
a =  
b =  
c =  
print(a,b,c)

## Functions
Often in life, we want to repeat the same sequence of operations on multiple values. To do this, we use functions. Functions are blocks of code that will repeat the same task over and over again (return some outputs) on different variables (inputs). https://docs.python.org/3/tutorial/controlflow.html#defining-functions

In [ ]:
#For example, this function squares the input
def fun1 (x):
    return x*x # note the indentation

fun1(2)
# what happens if you delete the indentation?

In [ ]:
#Functions can have more than one input:
def fun2 (x, y):
    return x * y

fun2(2,3) #experiment with different values

### TASK 3:

To simplify your future restaurant interactions, write a function that calculates a 15% tip and adds it to any check amount. Name your function tip15. How much will you owe in total on a $42.75 check?

In [ ]:
#write tip15 function here

### TASK 4:

To customize your future restaurant interactions to future exemplary service, write a function that calculates a variable tip and adds it to any check amount. Name your function tip. How much will you owe in total if you're tipping 25% on a $42.75 check?

In [ ]:
#write tip function here

## Lists
Using base python, you can store multiple variables as a list by wrapping them in square brackets. A list can accept any kind of variable: float, integer, or string:

In [ ]:
names = ["Homer", "Marge", "Bart", "Maggie", "Lisa"]
ages = [40,39,11,1,9]
print(names)
print(ages)
type(names)
type(ages)

We can make lists of lists, which are more complex data objects:

In [ ]:
names_and_ages = [names, ages]
print(names_and_ages)
type(names_and_ages)

We can extract individual values from the list using **indexing**, which in python starts with zero. We'd use our python mathematical operator on this single variable the same way we would use a calculator. For example, the age of the first person in the list is:

In [ ]:
first = ages[0]
print(first)

And we can ask: How old will the first numeric element on our list be in five years?

In [ ]:
ages[0]+5

### TASK 5:
Find the name and age of the third person in your list

In [ ]:
# type answer here

### TASK 6:
Add an extra person to the list, named Grandpa, who is 67 years old. *Hint: Google "add values to a list python" if you're not sure what to do!!!!

In [ ]:
# type answer here

### TASK 7:
Maggie just had a birthday! Change her age accordingly in the list.

In [ ]:
# type answer here

But because lists can be either string or numeric, we cannot apply a mathematical operator to a list. For example, how old will everyone be in five years?

In [ ]:
ages + 5
#this returns an error. But hey! Errors are opportunities! Google your error message, see if you can find a workaround!

## For loops
One way that we can run an entire operation on a list is to use a for loop. A for loop iterates through every element of a sequence, and completes a task or a set of tasks. Example:

In [ ]:
#Measure some strings
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

A very handy function that folks use a lot when write for loops is the range function. range() creates a range object, which generates list of intergers for each element in a series.

In [ ]:
print(len(ages))
# What does len() do?
print(range(len(ages)))

In [ ]:
for y in range(len(ages)):
    print(ages[y])

### TASK 8:
Use the range function in a for loop to add 1 year to everyone's age in the names_and_ages list and print the result to the screen.

In [ ]:
# type your for loop here

## if/else statements
Another thing that is commonly used in for loops is an if/else statement. This allows us to select certain attributes that we want to use to treat elements that we're iterating over differently.

In [ ]:
for y in range(len(ages)):
    if ages[y]>=18:
        print(names[y] + " is an adult")
    elif ages[y] >= 10:
        print(names[y]+" is an adolescent")
    else:
        print(names[y] + " is a child")

The above statement reads: if the age of the person is greater than or equal to 18, the person is an adult, or else if the age of the person is greater than or equal to 10, the person is an adolescent,  or else the person is a child.

Pay attention to the use of indentation in the above statement!

### TASK 9:
Using if, elif, and/or else statements, write a for loop that adds 1 year to everyone's life except Maggie...since we already gave her an extra birthday.

In [ ]:
# Write for loop here

## numpy arrays and pandas dataframes

For loops can take a lot of time on large datasets. To deal with this issue, we can rely on two other packages for data structures, called numpy and pandas. 

*Packages* are collections of *modules*. *Modules* contain executables, functions, and object types that someone else has already written for you.

Numpy arrays are standard gridded data formats (lists, matrices, and multi-dimensional arrays) where all items are of one data type, and have implicit indexing. Pandas data frames allow for mixed data types to be stored in different columns, and have explicit indicing. Pandas data frames work just like excel spreadsheets. Check out [https://www.earthdatascience.org/courses/intro-to-earth-data-science/scientific-data-structures-python/numpy-arrays/] and [https://www.earthdatascience.org/courses/intro-to-earth-data-science/scientific-data-structures-python/pandas-dataframes/] to learn more. Either numpy arrays or pandas data frames allow mathematical operators to be applied to all numeric elements.

We're going to start off by loading the numpy and pandas packages. We're going to short their names to "np" and "pd", just so we don't have to type as many characters. These packages should have been downloaded automatically in Anaconda, but if you can't load them, raise your hand and share you're screen. We'll talk about installing packages and everyone will be all the wiser.

Note: if importing python packages is new to you, please check out [https://www.earthdatascience.org/courses/intro-to-earth-data-science/python-code-fundamentals/use-python-packages/] to learn more.

In [ ]:
import numpy as np #import the numpy package, and call it np
ages = np.array(ages)
ages + 5
#Wait! Did you get an error? Read it carefull...and if it doesn't make sense, try Googling it.

In [ ]:
import pandas as pd #import the pandas pacakge, and call it pd
names_and_ages = pd.DataFrame({'names':names,'ages':ages})
print(names_and_ages)
type(names_and_ages) 
#How does the "type" of variable change?

The cell bellow shows how to add a new column to a pandas data frame called 'ages_5yr', and how to calculate values for the new column:

In [ ]:
names_and_ages['ages_5yr']=names_and_ages.ages + 5
print(names_and_ages)

There are three(?) ways to select a column in a pandas dataframe:

*? = probably many more!

In [ ]:
print(names_and_ages['names']) #index by column name

In [ ]:
print(names_and_ages.names) #call column name as an object attribute

In [ ]:
print(names_and_ages.iloc[:,0]) #use pandas built-in indexing function

The last option, iloc, is a pandas function. The first slot (before the comma) tells us which *rows* to pick. The second slot (after the comma) tells us which *columns* to pick. To pick find the value "ages_5yrs" of the first row, for example, we could use iloc like this:

In [ ]:
print(names_and_ages.iloc[0,2])

### TASK 10:
Create a new column in names_and_ages called "age_months", and populate it with each indiviuals age in months (approximately age in years times 12).

In [ ]:
#Complete task ten in the space below

### TASK 11:
Create a new column in names_and_ages called "maturity", and populate it with "adult", "adolescent", and "child", based on the age cutoffs mentioned above.

In [ ]:
# Create new column, fill it with empty values (np.NaN)
names_and_ages['maturity']=np.NaN

# Write for loop here

# Read in data.
You will often be using python to process files or data stored locally on your computer or server. Here will learn how to use the package os to set a path to the files you want, called your working directory.

In [ ]:
import os
os.listdir()

This .csv file is a record of daily discharge from a USGS stream gage near campus for the past year. It contains two columns, "Date" and "Discharge". It was downloaded with some modifications from [https://maps.waterdata.usgs.gov/mapper/index.html]. This is a great source of data for surface water measurements!

Now that you've got the filepath set up so that python can see your stream discharge data, let's open it as a pandas data frame using the pandas.read_csv() function. This is similar to what we would do opening new data in Excel

In [ ]:
stream = pd.read_csv('USGS_04240105_SYRACUSE_NY.csv', infer_datetime_format=True)
print(type(stream))
#the "head" function is built into a pandas.DataFrame object, and it allows you to specify the number of rows you want to see
stream.head(5)

##### Here, we see the date (as "%m/%d/%Y" format) and the mean daily discharge in cubic feet/second measured by the streamgage for each day.

## Check documentation on an object
The pandas dataframe is an object that is associated with many attributes and functions. How can we tell what other people have enabled their modules to do, and learn how to use them?

Remember, we just read in our data (USGS_04240105_SYRACUSE_NY.csv") as a 'pandas.core.frame.DataFrame'. What does that mean?

In [ ]:
#We can ask a question:
?stream

In [ ]:
#We can ask a deeper queston:
??stream
#This gives you full documentation

In [ ]:
#Or we can use the 'dot' 'tab' magic.
stream.
#Don't click Enter!!! Click 'Tab'. What happens?

In [ ]:
#We can use 'dot' 'tab' and question marks together!
?stream.min


### TASK 12: use pandas.DataFrame built in functions to determine the minimum, maximum, and mean daily discharge over the record for the station.

In [ ]:
#use pandas.DataFrame functions to assign appropriate values to the variables here.
min_dis = 
max_dis = 
mean_dis = 
print(min_dis, max_dis, mean_dis)

### TASK 13: create a new column called "Discharge_total" where cumulative daily discharge is calculated (hint: there are 24 x 60 x 60 seconds in a day)

In [ ]:
#enter calculations here

## EXTRA CREDIT: Use indexing to determine the DATE on which the maximum daily discharge occured.
(Hint! check out ?stream.iloc and ?stream.argmax, then try Googling "Find row where value of column is maximum in pandas DataFrame" or something similar)

(Still stuck? Enter the last thing you tried in this box, and then post your unsolved code on the Questions and Answers page on blackboard).

In [ ]:
#Type your answer here, see if you can get it in one line of code!

# You're almost done for today! Last steps:
## * save your .ipynb
## * download it as .HTML
## * upload .HTML to today's assignment on Blackboard

## If this was brand new to you, please take time to work through Sections 4,6, and 7 in [https://www.earthdatascience.org/courses/intro-to-earth-data-science/]